		   <!--<div data-role="collapsible" data-theme="c" data-content-theme="d"  data-inset="false">-->
                <h4 id="moredetails">Service Details:</h4>
                    <div class="btncontainer">
                        <div data-role="controlgroup" data-type="horizontal" data-mini="true" >                    
                             <a href="index.html" data-role="button" class="ui-btn-active">Description</a>
                             <a href="index.html" data-role="button" cl>Properties</a>                   
                        </div>
                    </div>                    
                   <div id="details-container">Here will come details of service</div>
            <!--</div>--> 